<body>
  <div id="main-container">
  <h1 style="text-align: center; margin-top: 100px;">Trainer cool?</h1>
    <div id="items-list">
      <div class="item">
        <div class="img-item">
          <a href="#">
            <%= image_tag "diem-thao.jpg" %>
          </a>
        </div>
        <!--end .img-item-->
        <div class="item-info">
          <a class="item-title" href="#">Tỉ tỉ Diễm Thảo</a>
          <div class="item-action">
            <div class="btn-add-to-like">
              <a href="#">Chọn</a>
            </div>
          </div>
          <!--end .item-action-->
        </div>
        <!--end .item-info-->
      </div>
      <!--end .item-->
      <div class="item">
        <div class="img-item">
          <a href="#">
            <%= image_tag "anh-anh.jpg" %>
          </a>
        </div>
        <!--end .img-item-->
        <div class="item-info">
          <a class="item-title" href="#">Kaka Trần Anh</a>
          <div class="item-action">
            <div class="btn-add-to-like">
              <a href="#">Chọn</a>
            </div>
          </div>
          <!--end .item-action-->
        </div>
        <!--end .item-info-->
      </div>
      <!--end .item-->
      <div class="item">
        <div class="img-item">
          <a href="#">
            <%= image_tag "chien-ka.jpg" %>
          </a>
        </div>
        <!--end .img-item-->
        <div class="item-info">
          <a class="item-title" href="#">Vện ka</a>
          <div class="item-action">
            <div class="btn-add-to-like">
              <a href="#">Chọn</a>
            </div>
          </div>
          <!--end .item-action-->
        </div>
        <!--end .item-info-->
      </div>
      <!--end .item-->
      <div class="item">
        <div class="img-item">
          <a href="#">
            <%= image_tag "quoc.png" %>
          </a>
        </div>
        <!--end .img-item-->
        <div class="item-info">
          <a class="item-title" href="#">Anh Quốc</a>
          <div class="item-action">
            <div class="btn-add-to-like">
              <a href="#">Chọn</a>
            </div>
          </div>
          <!--end .item-action-->
        </div>
        <!--end .item-info-->
      </div>
      <!--end .item-->
    </div>
    <!--end #items-list-->
  </div>
  <!--end #main-container-->
  <div id="notification-container"></div>
  <div id="sound"></div>
</body>
